body{
    margin: 0cm;
}


ul{

    font-family: Tw Cen MT, Helvetica, Verdana, SansSerif;
    max-width: 970px;
    margin: auto;
    width: 100%;
    border: 10px solid #364b71;
    padding: 5%;
    border-bottom: 4cm;
    border-top: 4cm;
    font-size: larger;






}



h1 {
    text-align: center;
    color: white;
    font-family: Tw Cen MT, Helvetica, Verdana, SansSerif;
    background-color: #364b71;
    padding: 20px;
    font-weight: 100;
    size: 20px;
    margin-bottom: 0px;
    margin-top: 0px;


}

h2, h3, h4, h5, h6 {

    size: 20pt;



}


nav{


    text-align: center;
    font-family: Tw Cen MT, Helvetica, Verdana, SansSerif;
    background-color: #96aeda;



}


    /* Dropdown knappen design*/
.dropbtn {
    background-color: #96aeda;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: Tw Cen MT, Helvetica, Verdana, SansSerif;


}

/* beholderern (div) brukt til p posisjonerer dropdown boksen*/
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Innholdet  */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:Tw Cen MT, Helvetica, Verdana, SansSerif;
}

/* Linkene inni dropdownen*/
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* bytte farge på dropdown hover når man hovrer over den*/
.dropdown-content a:hover {background-color: #96aeda}

/* hvis dropdown menu når man hovrer*/
.dropdown:hover .dropdown-content {
    display: block;
}

/* bytter bakgrunnsfargen på drowdown knappen når innholdet hvises*/
.dropdown:hover .dropbtn {
    background-color: #d1e1ff;
}

footer {
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:#96aeda;
    text-align: center;
    font-family: Tw Cen MT, Helvetica, Verdana, SansSerif;
    margin-top: -4px;
}
